[Database]
host = localhost
database = bom_clone_v3
user = CHANGE_ME
password = CHANGE_ME
port = 5432

[Paths]
zip_dir = ./data/zips
extract_dir = ./data/extracted
log_file = ./data/logs/updatelog.txt
download_log = ./data/logs/updater.csv
